<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.riberadeltajo.mens_fervida_videogame">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuPrincipal"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuNivelesActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".AudioService"
            android:enabled="true" />

        <activity android:name=".MenuArcades" />
        <activity
            android:name=".ActivityPregunta"
            android:screenOrientation="portrait" />
        <activity android:name=".juegoCartas.MainActivityCartas"
            android:screenOrientation="portrait"/>
        <activity android:name=".juegoCartas.Main2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".juegoComidaCae.MainActivityComidaCae" />
        <activity android:name=".juegoComidaCae.MainArcadeComidaCae" />
        <activity android:name=".juegoUnirComida.MainActivityUnirComida"></activity>
        <activity android:name=".juegoUnirComida.PartidaUnirComida"></activity>
        <activity android:name=".juegoUnirComida.InstruccionesUnirComida"></activity>
        <activity android:name=".juegoUnirComida.RecordUnirComida"></activity>
        <activity android:name=".juegonaves.ActividadJuego"></activity>
        <activity android:name=".juegonaves.MenuPrincipal"></activity>
        <activity android:name=".healthyExplorer.ActividadPrincipal"></activity>
        <activity android:name=".healthyExplorer.Instrucciones"></activity>
        <activity android:name=".healthyExplorer.MenuJuego"></activity>
    </application>

</manifest>